@media screen and (min-width:1024px) {
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }


    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }
     
    
    html{
        scroll-behavior: smooth;
    }

    /* generel styling af header */
    header {
        position:fixed;
        background:white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        max-height: 22%;
    }

    /* Styling af logo */
    .logo-img{
        width: 13%;
        height: auto;
    }

    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    /* styling af søgefelt */
    .search-knap{
        display: flex;
        line-height: 28px;
        align-items: center;
        position: absolute;
        right: 0;
        padding-right: 5%;
        max-width: 190px;
    }

    .input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 1.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color:var(--primarycolor);
    color: black;
    transition: .3s ease;
    font-family: var(--font-primary);
    font-weight: bold;
    }

    .input::placeholder {
        color:black;
    }
    
    .input:focus, input:hover {
        
        border-color: rgba(234,76,137,0.4);
        background-color: white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }
    
    .icon {
        position: absolute;
        left: 1rem;
        fill: #24547c;
        width: 1rem;
        height: 1rem;
    }
    
    /* genrel styling af navigationsbaren */
    .navbar{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 5%;
    }

    header .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }


    header .navbar ul li {
        position: relative;
    }

    header .navbar ul li a {
        text-decoration: none;
        font-size: 1rem;
        padding: 0.3rem;
        color: black;
        display: block;
    }

    header .navbar ul li a:hover {
        color:var(--secondarycolor);
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        
    }

    header .navbar ul li ul li {
        width: 100%;
        
        
    }

    /* Gør submenuer folder ud når man hover over navbarens ul */
    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
        display: block;
    }

    /* fjerner ckeckbox for desktop */
    #menu-bar {
        display:none;
    }

    header label {
        font-size: 20px;
        color:black;
        cursor: pointer;
        display: none;
    }

    /* fjerner checkboxen for søgefeltet */
    .search-toggle{
        display: none;
    }

    /* Generel styling af siden */
    main{
        padding-top: 7rem;
        line-height: 1.2;
        background-color: whitesmoke;
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 3rem;
        width: 50%;
        
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
    }

    h3{
        font-family: var(--font-primary);
        font-weight: bold;
        
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }


    /* Styling af overskrift og baggrundsbillede */

    .baggrund-img{
        background-image: url(../images/koncert-img/koncert-img.jpg);
        background-size: cover;
        background-position: 0 27%;
        margin-top: rem;
        height: 22rem;
        width: 100%;
    }

    .baggrund-img h1{
        padding-top: 4rem;
        padding-left: 2rem;
    }


    /* Styling af navigation til koncert oversigt */
    .navigation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
        align-items: start;
        justify-items: center;
        padding-top: 4rem;
        padding: 4rem 2rem 0 2rem;
    }

    /* Styling af video */
    .navigation video{
        width: 80%;
        padding-top: 1rem;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-primary);
    }
    
    .video figcaption{
        padding-top: 1rem;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Styling af knapper med månederne og knap sektionen*/
    .navigation a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        color:var(--secondarycolor);
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        padding: 0.8rem 1rem;
        width: 400px;
        outline: 1.5px #181717 solid;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 400ms;
        background-color: var(--primarycolor);
    }

    .navigation a:hover{
        background-color: transparent;
        color: black;
    }

    .punkter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Styling af koncertoversigt for december */

    .dec-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        padding: 7rem 2rem 0 3rem;
        gap: 2rem;
    }

    .dec-grid h2{
        grid-column: 1/-1;
        padding-bottom: 2rem;
    }

    .dec-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .dec-grid aside{
        text-align: center;
    }

    .dec-grid aside h3{
        padding-bottom: 0.5rem;
    }


    .dec-grid a{
        transition: all 0.3s ease;
    }

    .dec-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
        
    }


    /* Styling af koncertoversigt for januar */

    /* laver 3 kolonner så billeder er samme størrelse som øvrige for december */
    .jan-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 2rem 0 3rem;
    }

    .jan-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .jan-grid h2{
        grid-column: 1/-1;
        padding-bottom: 2rem;
    }

    .jan-grid aside{
        text-align: center;
    }

    .jan-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .jan-grid a{
        transition: all 0.3s ease;
    }

    .jan-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af februar afsnit */
    .feb-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 2rem 4rem 3rem;
    }

    .feb-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .feb-grid h2{
        grid-column: 1/-1;
        padding-bottom: 2rem;
    }

    .feb-grid aside{
        text-align: center;
    }

    .feb-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .feb-grid a{
        transition: all 0.3s ease;
    }

    .feb-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }

    /* Styling af workshop afsnit */

    .workshop{
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        padding-top: 1.5rem;
        padding: 2rem 0 4rem 6rem;
        display: flex;
        gap: 10rem ;

        animation: scrolling linear;
        animation-timeline: view();
        animation-range:entry 0% cover 38%;
    }

    @keyframes scrolling{
        from{
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    /* Styling af tekst og artikel */
    .workshop p{
        padding-top: 1.5rem;
    }

    .workshop article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    /* Styling af billede */
    .workshop-img img{
        width: 80%;
        height: 80%;
    }

    .workshop-img{
        display: flex;
        align-items: center;
        text-align: center;
        width: 90%;
        padding-right: 3rem;
    }

    /* Styling af knap */
    .workshop article a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 90%;
        text-align: center;
        transition: all 0.3s ease;
        margin-top: 2rem;
    }

    .workshop article a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
    }


    /* Styling af konkurrence sektionen */
    .konkurrence-afsnit{
        background-image: url(../images/koncert-img/konkurrencer-img.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height:25rem;
        padding: 2rem 2rem 2rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

    }


    .tekst1{
        grid-column: 1;
        grid-row: 2; 
        width: 90%;  
    }

    .tekst2{
       grid-column: 2;
       grid-row: 3;
       width: 90%;
    }

    .konkurrence-afsnit h2{
        grid-column: 1/-1;
        text-align: center;
        padding-bottom: 2rem;
    }





    /* Styling af footer */
    
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        padding-top: 1rem;
        color: var(--secondarycolor);
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
        transition: ease 0.2s;
    }
    
    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
    }
    
    .some-ikoner svg:hover{
        transform: scale(1.1);
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev og kontakt oplysninger */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }

}


@media screen and (min-width:768px) and (max-width:1024px) {
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }


    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }
    
    
    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }


    /* Styling af navigationsbar/burgermenu */
    .logo-img{
        width: 18%;
        max-height: 20%;
    }
    
    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    header {
        margin: 0 auto;
        position: fixed;
        background: white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        max-height: 25%;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:var(--primarycolor);
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }

    header .navbar ul li {
        width: 110%;
        position: relative;
    }

    header .navbar ul li a{
        color: var(--secondarycolor);
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
        display: block;
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: block;
}
    

    /* Gør burgermenuen synlig når label/checkboxen er checked */
    #menu-bar:checked ~ .navbar {
        display: block;
    }

    #menu-bar{
        display: none;
    }

    /* Styling af søgeknap */
    .search-knap{
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 5%;
        max-width:1rem;
    }
    
    /* Input er selve søgefeltet hvor man skriver det man søger på */
    .input {
        display: none;
        width: 8rem;
        height: 40px;
        padding: 1rem; 
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--primarycolor);
        color:black;
        transition: .3s ease;
        position: absolute;
        right: 100%;
        font-family: var(--font-primary);
        font-weight: bold;

    }
       
    /* Søge iconet */
    .icon {
        position: absolute;
        left: 0rem;
        fill: #9e9ea7;
        width: 2rem;
        height: 2rem;
    }

    .search-toggle{
        display: none;
    }
    
    .search-icon-label{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        line-height: 28px;
        max-width: 1rem;
    }

    .input::placeholder {
        color: black;
       }
       
    /* Hover effekt til søgefelt */
    .input:focus, input:hover {
        
        border-color: black;
        background-color:white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    /* Gør input søgefeltet vises når label er checked eller ikonen klikkes på */
    .search-toggle:checked ~ .input{
        display: block;
    }


    main{
        padding-top: 6rem;
        line-height: 1.2;
        background-color: white;
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
        width: 100%;
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.25;
    }

    h3{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }


    /* Styling af overskrift og baggrundsbillede */

    .baggrund-img{
        background-image: url(../images/koncert-img/koncert-img.jpg);
        background-size: cover;
        background-position: 0 27%;
        margin-top: rem;
        height: 18rem;
        width: 100%;
    }

    .baggrund-img h1{
        padding-top: 4rem;
        padding-left: 2rem;
    }


    /* Styling af navigation til koncert oversigt */
    .navigation{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        align-items: start;
        justify-items: center;
        padding: 2.5rem 2rem 0 2rem;
    }

    /* Styling af video */
    .navigation video{
        width: 80%;
        padding-top: 1rem;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-primary);
    }
    
    .video figcaption{
        padding-top: 1rem;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        text-align: center;
    }

    /* Styling af knapper med månederne og knap sektionen*/
    .navigation a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        color:var(--secondarycolor);
        margin-top: 1.5rem;
        padding: 0.8rem 1rem;
        width: 350px;
        outline: 1.5px #181717 solid;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 400ms;
        background-color: var(--primarycolor);
    }

    .navigation a:hover{
        background-color: transparent;
        color: black;
    }

    .punkter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


      /* Styling af koncertoversigt for december */

      .dec-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        padding: 4rem 2rem 0 3rem;
        gap: 2rem;
        text-align: center;
    }

    .dec-grid h2{
        grid-column: 1/-1;
        padding-bottom: 1rem;
    }

    .dec-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .dec-grid aside{
        text-align: center;
    }

    .dec-grid aside h3{
        padding-bottom: 0.5rem;
    }


    .dec-grid a{
        transition: all 0.3s ease;
    }

    .dec-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af koncertoversigt for januar */

    /* laver 3 kolonner så billeder er samme størrelse som øvrige for december */
    .jan-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 2rem 0 3rem;
        text-align: center;
    }

    .jan-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .jan-grid h2{
        grid-column: 1/-1;
        padding-bottom: 1rem;
    }

    .jan-grid aside{
        text-align: center;
    }

    .jan-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .jan-grid a{
        transition: all 0.3s ease;
    }

    .jan-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af februar afsnit */
    .feb-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 2rem 4rem 3rem;
        text-align: center;
    }

    .feb-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .feb-grid h2{
        grid-column: 1/-1;
        padding-bottom: 1rem;
    }

    .feb-grid aside{
        text-align: center;
    }

    .feb-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .feb-grid a{
        transition: all 0.3s ease;
    }

    .feb-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }

    /* Styling af workshop afsnit */

    .workshop{
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        padding-top: 1.5rem;
        padding: 2rem 0 2rem 4rem;
        display: flex;
        gap: 6rem ;
        animation: scrolling linear;
        animation-timeline: view();
        animation-range:entry 0% cover 38%;
    }

    @keyframes scrolling{
        from{
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    /* Styling af tekst og artikel */
    .workshop p{
        padding-top: 1.5rem;
    }

    .workshop article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    /* Styling af billede */
    .workshop-img img{
        width: 100%;
        height: 70%;
    }

    .workshop-img{
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        padding-right: 3rem;
    }

    /* Styling af knap */
    .workshop article a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 90%;
        text-align: center;
        transition: all 0.3s ease;
        margin-top: 2rem;
    }

    .workshop article a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
    }


    /* Styling af konkurrence sektionen */
    .konkurrence-afsnit{
        background-image: url(../images/koncert-img/konkurrencer-img.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height:25rem;
        padding: 2rem 2rem 2rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

    }


    .tekst1{
        grid-column: 1;
        grid-row: 2; 
        width: 90%;  
    }

    .tekst2{
       grid-column: 2;
       grid-row: 3;
       width: 90%;
    }

    .konkurrence-afsnit h2{
        grid-column: 1/-1;
        text-align: center;
        padding-bottom: 2rem;
    }






 /* Styling af footer */
    
 footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:var(--primarycolor);
    font-family: var(--font-primary);
    font-weight: bold;
    padding-top: 1rem;
    color: var(--secondarycolor);
}

/* Styling af ikoner */
.some-ikoner svg{
    width: 80%;
}

.some-ikoner{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
}

/* Styling af oplysninger i footeren */
.footer-oplysninger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.oplysninger{
    list-style: none;
    text-align: center;
}

.oplysninger li{
    padding: 0.2rem;
}

/* Styling af nyhedsbrev og kontakt oplysninger */
.nyhedsbrev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.nyhedsbrev p{
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.nyhed-knap{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: var(--font-primary);
    font-weight: bold;
    background-color: var(--tetriarycolor);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid;
    border-color: var(--primarycolor);
    width: 170px;
    text-align: center;
    transition: all 0.3s ease;
}

.nyhedsbrev a:hover{
    background-color: var(--primarycolor);
    color: var(--tetriarycolor);
    border-color: var(--tetriarycolor);

}



/* Styling af kontaktoplysninger */


.kontakt-tekst {
    list-style: none;
    text-align: center;
    padding-top: 1rem;
}

.kontakt-tekst li{
    padding: 0.2rem;
}












}


@media screen and (min-width:500px) and (max-width:768px){
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }


    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }
    
    
    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }


    /* Styling af navigationsbar/burgermenu */
    .logo-img{
        width: 25%;
        max-height: 30%;
    }
    
    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    header {
        margin: 0 auto;
        position: fixed;
        background: white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        max-height: 25%;
       
    }
    
    

    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:var(--primarycolor);
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        padding: 0.5rem 0 0.5rem 2rem;
    }


    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }

    header .navbar ul li {
        width: 110%;
        position: relative;
    }

    header .navbar ul li a{
        color: var(--secondarycolor);
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
        display: block;
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: block;
}
    

    /* Gør burgermenuen synlig når label/checkboxen er checked */
    #menu-bar:checked ~ .navbar {
        display: block;
    }

    #menu-bar{
        display: none;
    }

    /* Styling af søgeknap */
    .search-knap{
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 5%;
        max-width:1rem;
    }
    
    /* Input er selve søgefeltet hvor man skriver det man søger på */
    .input {
        display: none;
        width: 8rem;
        height: 40px;
        padding: 1rem; 
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--primarycolor);
        color:black;
        transition: .3s ease;
        position: absolute;
        right: 100%;
        font-family: var(--font-primary);
        font-weight: bold;

    }
       
    /* Søge iconet */
    .icon {
        position: absolute;
        left: 0rem;
        fill: #9e9ea7;
        width: 2rem;
        height: 2rem;
    }

    .search-toggle{
        display: none;
    }
    
    .search-icon-label{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        line-height: 28px;
        max-width: 1rem;
    }

    .input::placeholder {
        color: black;
       }
       
    /* Hover effekt til søgefelt */
    .input:focus, input:hover {
        
        border-color: black;
        background-color:white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    /* Gør input søgefeltet vises når label er checked eller ikonen klikkes på */
    .search-toggle:checked ~ .input{
        display: block;
    }


    main{
        padding-top: 6rem;
        line-height: 1.2;
        background-color: white;
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
        width: 100%;
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.25;
    }

    h3{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }

     /* Styling af overskrift og baggrundsbillede */

     .baggrund-img{
        background-image: url(../images/koncert-img/koncert-img.jpg);
        background-size: cover;
        background-position: 0 30% ;
        height: 16rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .baggrund-img h1{ 
        padding: 6rem 2rem 2rem 2rem;
        text-align: left;
    }


    /* Styling af navigation til koncert oversigt */
    .navigation{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        align-items: start;
        justify-items: center;
        padding: 2.5rem 2rem 0 2rem;
    }

    /* Styling af video */
    .navigation video{
        width: 80%;
        padding-top: 1rem;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-primary);
    }
    
    .video figcaption{
        padding-top: 1rem;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        text-align: center;
    }

    /* Styling af knapper med månederne og knap sektionen*/
    .navigation a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        color:var(--secondarycolor);
        margin-top: 1.5rem;
        padding: 0.8rem 1rem;
        width: 200px;
        outline: 1.5px #181717 solid;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 400ms;
        background-color: var(--primarycolor);
    }

    .navigation a:hover{
        background-color: transparent;
        color: black;
    }

    .punkter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /* Styling af koncertoversigt for december */

    .dec-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding: 3rem 1rem 0 1rem;
        gap: 2rem;
    }

    .dec-grid h2{
        grid-column: 1/-1;
        text-align: center;
    }

    .dec-grid img{
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .dec-grid aside{
        text-align: center;
    }

    .dec-grid aside h3{
        padding-bottom: 0.5rem;
    }

    .dec-grid span{
        display: none;
    }

    .dec-grid a{
        transition: all 0.3s ease;
    }

    .dec-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af koncertoversigt for januar */

    /* laver 3 kolonner så billeder er samme størrelse som øvrige for december */
    .jan-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 1rem 0 1rem;
    }

    .jan-grid img{
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .jan-grid h2{
        grid-column: 1/-1;
        text-align: center;
    }

    .jan-grid aside{
        text-align: center;
    }

    .jan-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .jan-grid a{
        transition: all 0.3s ease;
    }

    .jan-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af februar afsnit */
    .feb-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 1rem 2.5rem 1rem;
    }

    .feb-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .feb-grid h2{
        grid-column: 1/-1;
        text-align: center;
    }

    .feb-grid aside{
        text-align: center;
    }

    .feb-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .feb-grid a{
        transition: all 0.3s ease;
    }

    .feb-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }

    /* Styling af workshop afsnit */

    .workshop{
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        padding-top: 1.5rem;
        padding: 3rem 1rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadein linear;
        animation-timeline: view();
        animation-range:entry 0% cover 21%;
    }

    @keyframes fadein{
        from{
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    /* Styling af tekst og artikel */
    .workshop p{
        padding-top: 1.5rem;
    }

    .workshop article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    /* Styling af billede */
    .workshop-img img{
        width: 80%;
        height: 80%;
    }

    .workshop-img{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
    }

    /* Styling af knap */
    .workshop article a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 90%;
        text-align: center;
        transition: all 0.3s ease;
        margin-top: 2rem;
    }

    .workshop article a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
    }


    /* Styling af konkurrence sektionen */
    .konkurrence-afsnit{
        background-image: url(../images/koncert-img/konkurrencer-img.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height:auto;
        padding: 2rem 2rem 3rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr 1fr;
        align-items: center;
    }


    .tekst1{
        grid-row: 2;
        width: 90%; 
        margin: 0 auto; 
    }

    .tekst2{
       grid-row: 3;
       width: 90%;
       margin: 0 auto;
       padding-top: 1rem;
    }

    .konkurrence-afsnit h2{
        grid-column: 1/-1;
        text-align: center;
        padding-bottom: 1rem;
    }

    /* Styling af footer */
    
    footer{
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--secondarycolor);
        padding-top: 1rem;
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
    }

    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    .kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }



}




@media screen and (min-width:360px) and (max-width:500px) {
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }


    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }
    
    
    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }


    /* Styling af navigationsbar/burgermenu */
    .logo-img{
        width: 35%;
    }
    
    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    header {
        margin: 0 auto;
        position: fixed;
        background: white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        height: 20%;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:var(--primarycolor);
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }

    header .navbar ul li {
        width: 110%;
        position: relative;
    }

    header .navbar ul li a{
        color: var(--secondarycolor);
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
        display: block;
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: block;
}
    

    /* Gør burgermenuen synlig når label/checkboxen er checked */
    #menu-bar:checked ~ .navbar {
        display: block;
    }

    #menu-bar{
        display: none;
    }

    /* Styling af søgeknap */
    .search-knap{
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 5%;
        max-width:1rem;
    }
    
    /* Input er selve søgefeltet hvor man skriver det man søger på */
    .input {
        display: none;
        width: 8rem;
        height: 40px;
        padding: 1rem; 
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--primarycolor);
        color:black;
        transition: .3s ease;
        position: absolute;
        right: 100%;
        font-family: var(--font-primary);
        font-weight: bold;

    }
       
    /* Søge iconet */
    .icon {
        position: absolute;
        left: 0rem;
        fill: #9e9ea7;
        width: 2rem;
        height: 2rem;
    }

    .search-toggle{
        display: none;
    }
    
    .search-icon-label{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        line-height: 28px;
        max-width: 1rem;
    }

    .input::placeholder {
        color: black;
       }
       
    /* Hover effekt til søgefelt */
    .input:focus, input:hover {
        
        border-color: black;
        background-color:white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    /* Gør input søgefeltet vises når label er checked eller ikonen klikkes på */
    .search-toggle:checked ~ .input{
        display: block;
    }


    main{
        padding-top: 6rem;
        line-height: 1.2;
        background-color: white;
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
        width: 100%;
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.25;
    }

    h3{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }

     /* Styling af overskrift og baggrundsbillede */

     .baggrund-img{
        background-image: url(../images/koncert-img/koncert-img.jpg);
        background-size: cover;
        background-position: center ;
        height: 10rem;
        width: 100%;
    }

    .baggrund-img h1{
        padding-top: 6rem;
        text-align: center;
        word-wrap: break-word;
    }


    /* Styling af navigation til koncert oversigt */
    .navigation{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        align-items: start;
        justify-items: center;
        padding: 2.5rem 2rem 0 2rem;
    }

    /* Styling af video */
    .navigation video{
        width: 80%;
        padding-top: 1rem;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--font-primary);
    }
    
    .video figcaption{
        padding-top: 1rem;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        text-align: center;
    }

    /* Styling af knapper med månederne og knap sektionen*/
    .navigation a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        color:var(--secondarycolor);
        margin-top: 1.5rem;
        padding: 0.8rem 1rem;
        width: 200px;
        outline: 1.5px #181717 solid;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 400ms;
        background-color: var(--primarycolor);
    }

    .navigation a:hover{
        background-color: transparent;
        color: black;
    }

    .punkter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /* Styling af koncertoversigt for december */

    .dec-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding: 3rem 1rem 0 1rem;
        gap: 2rem;
    }

    .dec-grid h2{
        grid-column: 1/-1;
        text-align: center;
    }

    .dec-grid img{
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .dec-grid aside{
        text-align: center;
    }

    .dec-grid aside h3{
        padding-bottom: 0.5rem;
    }

    .dec-grid span{
        display: none;
    }

    .dec-grid a{
        transition: all 0.3s ease;
    }

    .dec-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af koncertoversigt for januar */

    /* laver 3 kolonner så billeder er samme størrelse som øvrige for december */
    .jan-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 1rem 0 1rem;
    }

    .jan-grid img{
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .jan-grid h2{
        grid-column: 1/-1;
        text-align: center;
    }

    .jan-grid aside{
        text-align: center;
    }

    .jan-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .jan-grid a{
        transition: all 0.3s ease;
    }

    .jan-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }


    /* Styling af februar afsnit */
    .feb-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;
        padding: 3rem 1rem 2.5rem 1rem;
    }

    .feb-grid img{
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    }

    .feb-grid h2{
        grid-column: 1/-1;
        text-align: center;
    }

    .feb-grid aside{
        text-align: center;
    }

    .feb-grid aside h3{
        padding-bottom: 0.5rem;
    }

    
    .feb-grid a{
        transition: all 0.3s ease;
    }

    .feb-grid a :hover{
        outline: 2px solid;
        outline-color: black;
        border-radius: 5px;
        transform: scale(1.05);
    }

    /* Styling af workshop afsnit */

    .workshop{
        background-color: var(--primarycolor);
        color: var(--secondarycolor);
        padding-top: 1.5rem;
        padding: 3rem 1rem 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: scrolling linear;
        animation-timeline: view();
        animation-range:entry 0% cover 25%;
    }

    @keyframes scrolling{
        from{
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    /* Styling af tekst og artikel */
    .workshop p{
        padding-top: 1.5rem;
    }

    .workshop article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    /* Styling af billede */
    .workshop-img img{
        width: 80%;
        height: 80%;
    }

    .workshop-img{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
    }

    /* Styling af knap */
    .workshop article a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 90%;
        text-align: center;
        transition: all 0.3s ease;
        margin-top: 2rem;
    }

    .workshop article a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
    }


    /* Styling af konkurrence sektionen */
    .konkurrence-afsnit{
        background-image: url(../images/koncert-img/konkurrencer-img.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height:auto;
        padding: 2rem 2rem 3rem 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr 1fr;
        align-items: center;
    }


    .tekst1{
        grid-row: 2;
        width: 90%; 
        margin: 0 auto; 
    }

    .tekst2{
       grid-row: 3;
       width: 90%;
       margin: 0 auto;
       padding-top: 1rem;
    }

    .konkurrence-afsnit h2{
        grid-column: 1/-1;
        text-align: center;
        padding-bottom: 1rem;
    }

    /* Styling af footer */
    
    footer{
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--secondarycolor);
        padding-top: 1rem;
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
    }

    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    .kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }












}