@media screen and (min-width:1024px) {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }


    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }
     
    /* generel styling af header */
    header {
        position:fixed;
        background:white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        max-height: 22%;
    }

    /* Styling af logo */
    .logo-img{
        width: 13%;
        height: auto;
    }

    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    /* styling af søgefelt */
    .search-knap{
        display: flex;
        line-height: 28px;
        align-items: center;
        position: absolute;
        right: 0;
        padding-right: 5%;
        max-width: 190px;
    }

    .input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 1.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color:var(--primarycolor);
    color: black;
    transition: .3s ease;
    }

    .input::placeholder {
        color:black;
    }
    
    .input:focus, input:hover {
        
        border-color: rgba(234,76,137,0.4);
        background-color: white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }
    
    .icon {
        position: absolute;
        left: 1rem;
        fill: #24547c;
        width: 1rem;
        height: 1rem;
    }
    
    /* genrel styling af navigationsbaren */
    .navbar{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 5%;
    }

    header .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }


    header .navbar ul li {
        position: relative;
    }

    header .navbar ul li a {
        text-decoration: none;
        font-size: 1rem;
        padding: 0.3rem;
        color: black;
        display: block;
    }

    header .navbar ul li a:hover {
        color:var(--secondarycolor);
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        
    }

    header .navbar ul li ul li {
        width: 100%;
        
        
    }

    /* Gør submenuer folder ud når man hover over navbarens ul */
    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
        display: block;
    }

    /* fjerner ckeckbox for desktop */
    #menu-bar {
        display:none;
    }

    header label {
        font-size: 20px;
        color:black;
        cursor: pointer;
        display: none;
    }

    /* fjerner checkboxen for søgefeltet */
    .search-toggle{
        display: none;
    }

    /* Generel styling af siden */
    main{
        padding-top: 7rem;
        line-height: 1.2;
        background-color: var(--primarycolor);
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 3rem;
        
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }
    

    /* Styling af overskrift og billede */
    .baggrund-omos{
        background-image: url(../images/omos-radar/omos-img.jpg);
        background-size: cover;
        background-position: 0 15%;
        height: 380px;
    }

    .baggrund-omos h1{
        padding: 4rem 0 0 2rem;
    }

    /* Styling af venue afsnit */

    .venue{
        padding-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    .venue img{
        width: 40%;
    }










/* Styling af footer */
    
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:var(--primarycolor);
    font-family: var(--font-primary);
    font-weight: bold;
    padding-top: 1rem;
    color: var(--secondarycolor);
}

/* Styling af ikoner */
.some-ikoner svg{
    width: 80%;
}

.some-ikoner{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
}

/* Styling af oplysninger i footeren */
.footer-oplysninger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.oplysninger{
    list-style: none;
    text-align: center;
}

.oplysninger li{
    padding: 0.2rem;
}

/* Styling af nyhedsbrev og kontakt oplysninger */
.nyhedsbrev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.nyhedsbrev p{
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.nyhed-knap{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: var(--font-primary);
    font-weight: bold;
    background-color: var(--tetriarycolor);
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid;
    border-color: var(--primarycolor);
    width: 170px;
    text-align: center;
    transition: all 0.3s ease;
}

.nyhedsbrev a:hover{
    background-color: var(--primarycolor);
    color: var(--tetriarycolor);
    border-color: var(--tetriarycolor);

}



/* Styling af kontaktoplysninger */


.kontakt-tekst {
    list-style: none;
    text-align: center;
    padding-top: 1rem;
}

.kontakt-tekst li{
    padding: 0.2rem;
}


}