@media screen and (min-width:1024px) {
    
 
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }


    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }
     
    /* generel styling af header */
    header {
        position:fixed;
        background:white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        max-height: 22%;
    }

    /* Styling af logo */
    .logo-img{
        width: 13%;
        height: auto;
    }

    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    .logo-img, .forside-logo a:hover{
        transform: none;
        transition: none;
    }

    /* styling af søgefelt */
    .search-knap{
        display: flex;
        line-height: 28px;
        align-items: center;
        position: absolute;
        right: 0;
        padding-right: 5%;
        max-width: 190px;
    }

    .input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 1.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color:var(--primarycolor);
    color: black;
    transition: .3s ease;
    font-family: var(--font-primary);
    font-weight: bold;
    }

    .input::placeholder {
        color:black;
    }
    
    .input:focus, input:hover {
        
        border-color: rgba(234,76,137,0.4);
        background-color: white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }
    
    .icon {
        position: absolute;
        left: 1rem;
        fill: #24547c;
        width: 1rem;
        height: 1rem;
    }
    
    /* genrel styling af navigationsbaren */
    .navbar{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 5%;
    }

    header .navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }


    header .navbar ul li {
        position: relative;
    }

    header .navbar ul li a {
        text-decoration: none;
        font-size: 1rem;
        padding: 0.3rem;
        color: black;
        display: block;
    }

    header .navbar ul li a:hover {
        color:var(--secondarycolor);
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        
    }

    header .navbar ul li ul li {
        width: 100%;
        
        
    }

    /* Gør submenuer folder ud når man hover over navbarens ul */
    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
        display: block;
    }

    /* fjerner ckeckbox for desktop */
    #menu-bar {
        display:none;
    }

    header label {
        font-size: 20px;
        color:black;
        cursor: pointer;
        display: none;
    }

    /* fjerner checkboxen for søgefeltet */
    .search-toggle{
        display: none;
    }

    /* Generel styling af siden */
    main{
        padding-top: 6.5rem;
        line-height: 1.2;
        background-color: var(--primarycolor);
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 2.5rem;
        
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }
    

      /* Styling af Introafsnit */
      .intro-afsnit{
        background-image: url(/images/forside-img.jpg);
        background-size: cover;
        background-position: center;
        height: 290px;
        background-repeat: no-repeat;
        padding-top: 3rem;
        padding-left: 2rem;
    }    


    .intro-tekst h1{
        padding-bottom: 5rem;
    }

    .intro-tekst p{
        color: white;
        padding-top: 0.2rem;
        width: 40%;
        border: black;
    }


    /* Styling af kommende koncert sektio */
    .koncert-section {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        overflow: hidden;
        padding-left: 3.5rem;
        padding-right: 2rem;
      }
      
      /* Styling af artikel */
      .koncert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondarycolor);
        width: 85%;
        padding-left: 2rem;
      }
      
      .koncert-info h2 {
        color: var(--secondarycolor);
        font-size: 1.4rem;

 
      }
      
      .koncert-info p {
        padding-top: 1rem;
      }
      
      /* styling af knap til alle koncerter */
      .koncert-button {
        padding-top: 1.5rem;
      }
      
      .koncert-button a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
      }
      
      .koncert-button a:hover {
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
      }
      
      /* styling af billede til afsnittet */
      .koncert-image {
        width: 100%;
      }
      
      .figure-container{
        text-align: center;
        margin-right: 2rem;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
      }

      
      .koncert-image img {
        width: 100%;
        height: auto;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
      }
      
      .koncert-heading {
        color: var(--secondarycolor);
        font-size: 1rem;
        text-align: center;

      }

      .koncert-image a{
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
      }

      .figure-container,.koncert-heading:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
      }

      .koncert-image img:hover{
        transform: scale(1.05);
      }

      
    /* Styling af kommende koncerter billeder */
    .koncerter-img{
        padding: 4rem 2rem 0rem 2rem;
        display: flex;
        overflow: hidden;
    }

    .k2-img{
        margin-top: 0.45rem;
    }

    .k2-img, .k3-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .k2-img, .k3-img a{
        text-decoration: none;
    }

    .k2-img, .k3-img h3{
        color: var(--secondarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
    }
    
    .koncerter-img img{
        width: 80%;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
    }

    /* hovereffekt til kunstner titler */
    aside h3:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
    }

    .k2-img, .k3-img, a{
        transition: transform 0.3s ease;
        text-decoration: none;
        color: var(--secondarycolor);
    }

    .k2-img, .k3-img, img:hover{
        transform: scale(1.05);
        
    }

    /* Styling af kunstner spotlight afsnit */
    .kunstner-spot img{
        width: 80%;
        transition: transform 0.3s ease;
    }

    .kunstner-img-container{
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row:1/3;
        padding-top: 1.5rem;
        align-items: center;
        text-align: center;
    }


    .kunstner-img-container img:hover{
        transform: scale(1.05);
    }

    .kunstner-img-container h3{
        font-family:var(--font-primary) ;
        color: var(--secondarycolor);
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.5rem;
    }


    .kunstner-spot{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 4rem 0 0;
        align-items: start;
        padding: 2.5rem;
    }

    .kunstner-spot-tekst{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--secondarycolor);
        padding: 1rem 0 1rem 1rem;
        width: 100%;
        height: 230px;
        grid-column: 2;
        grid-row: 1;
    }

    .kunstner-spot h2{
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--secondarycolor);
        padding-bottom: 1rem;
    }

   


    /* Styling af knap */
    .kunstner-knap a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 200px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .kunstner-knap a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }

    .kunstner-knap{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2;
        grid-row: 2 ;
    }

    /* Styling af Radar værdier afsnit */

    .vaerdier-afsnit{
        background-image: url(/images/forside-img2.jpg);
        background-size: cover;
        background-position: center;
        height: 18rem;
        background-repeat: no-repeat;
        border-bottom: 1.2px solid;
        
    }

    .vaerdier-afsnit h2{
        color: white;
        font-weight: bold;
        padding-top: 5rem;
        padding-left: 1.5rem;
    }

    .vaerdier-tekst{
        background-color: white;
        background-position: center;
        padding: 2rem 2rem 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vaerdier-artikel, .vaerdier-artikel2{
        width: 40%;
        padding-top: 1rem;
        padding: 0 2rem 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vaerdier-artikel p{
        padding-bottom: 1rem;
    }


    /* Styling af footer */
    
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        padding-top: 1rem;
        color: var(--secondarycolor);
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
        transition: ease 0.2s;
    }
    
    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
    }
    
    .some-ikoner svg:hover{
        transform: scale(1.1);
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev og kontakt oplysninger */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }

}

@media screen and (min-width: 768px) and (max-width:1024px){
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }
    
    
    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }

    /* Styling af navigationsbar/burgermenu */
    .logo-img{
        width: 18%;
    }
    
    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    header {
        margin: 0 auto;
        position: fixed;
        background: white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        height: 23%;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:var(--primarycolor);
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }

    header .navbar ul li {
        width: 110%;
        position: relative;
    }

    header .navbar ul li a{
        color: var(--secondarycolor);
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
        display: block;
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: block;
}
    

    /* Gør burgermenuen synlig når label/checkboxen er checked */
    #menu-bar:checked ~ .navbar {
        display:block;
    }



    #menu-bar{
        display: none;
    }

    /* Styling af søgeknap */
    .search-knap{
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 5%;
        max-width:1rem;
    }
    
    /* Input er selve søgefeltet hvor man skriver det man søger på */
    .input {
        display: none;
        width: 8rem;
        height: 40px;
        padding: 1rem; 
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--primarycolor);
        color:black;
        transition: .3s ease;
        position: absolute;
        right: 100%;
        font-family: var(--font-primary);
        font-weight: bold;
        font-family: var(--font-primary);
        font-weight: bold;
    }
       
    /* Søge iconet */
    .icon {
        position: absolute;
        left: 0rem;
        fill: #9e9ea7;
        width: 2rem;
        height: 2rem;
    }

    .search-toggle{
        display: none;
    }
    
    .search-icon-label{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        line-height: 28px;
        max-width: 1rem;
    }

    .input::placeholder {
        color: black;
       }
       
    /* Hover effekt til søgefelt */
    .input:focus, input:hover {
        
        border-color: black;
        background-color:white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    /* Gør input søgefeltet vises når label er checked eller ikonen klikkes på */
    .search-toggle:checked ~ .input{
        display: block;
    }


    main{
        padding-top: 7rem;
        line-height: 1.2;
        background-color: var(--primarycolor);
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: 2rem;
        
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1.6rem;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }
    

      /* Styling af Introafsnit */
      .intro-afsnit{
        background-image: url(/images/forside-img.jpg);
        background-size: cover;
        background-position: center;
        height: 290px;
        background-repeat: no-repeat;
        padding-top: 3rem;
        padding-left: 2rem;
    }    

    .intro-tekst p{
        color: white;
        padding-top: 2rem;
        width: 50%;
        border: black;
    }


    /* Styling af kommende koncert sektio */
    .koncert-section {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        align-items: center;
        overflow: hidden;
        padding: ;
      }
      
      /* Styling af artikel */
      .koncert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondarycolor);
        width: 90%;
        padding-left: 2rem;
      }
      
      .koncert-info h2 {
        color: var(--secondarycolor);
        font-size: 1.4rem;

 
      }
      
      .koncert-info p {
        padding-top: 1rem;
      }
      
      /* styling af knap til alle koncerter */
      .koncert-button {
        padding-top: 1.5rem;
      }
      
      .koncert-button a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
      }
      
      .koncert-button a:hover {
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
      }
      
      /* styling af billede til afsnittet */
      .koncert-image {
        width: 100%;
      }
      
      .figure-container{
        text-align: center;
        margin-right: 2rem;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
      }

      
      .koncert-image img {
        width: 90%;
        height: auto;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
      }
      
      .koncert-heading {
        color: var(--secondarycolor);
        font-size: 1rem;
        text-align: center;

      }

      .koncert-image a{
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
      }

      .figure-container,.koncert-heading:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
      }

      .koncert-image img:hover{
        transform: scale(1.05);
      }

      
    /* Styling af kommende koncerter billeder */
    .koncerter-img{
        padding-top: 2rem;
        display: flex;
        overflow: hidden;
    }

    .k2-img{
        margin-top: 0.45rem;
    }

    .k2-img, .k3-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }


    .k2-img, .k3-img h3{
        color: var(--secondarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
    }
    
    .koncerter-img img{
        width: 80%;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
    }

    /* hovereffekt til kunstner titler */
    aside h3:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
    }

    .k2-img, .k3-img, a{
        transition: transform 0.3s ease;
        text-decoration: none;
        color: var(--secondarycolor);
    }

    .k2-img, .k3-img, img:hover{
        transform: scale(1.05);
        
    }

    /* Styling af kunstner spotlight afsnit */
    .kunstner-spot img{
        width: 80%;
        transition: transform 0.3s ease;
    }

    .kunstner-img-container{
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row:1/3;
        padding-top: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .kunstner-img-container img:hover{
        transform: scale(1.05);
    }

    .kunstner-img-container h3{
        font-family:var(--font-primary) ;
        color: var(--secondarycolor);
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.5rem;
    }


    .kunstner-spot{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 0 4rem 0 0;
        align-items: start;
        padding: 2.5rem;
    }

    .kunstner-spot-tekst{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--secondarycolor);
        padding: 1rem 0 1rem 1rem;
        width: 100%;
        height: 230px;
        grid-column: 2;
        grid-row: 1;
    }

    .kunstner-spot h2{
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--secondarycolor);
        padding-bottom: 1rem;
    }

   


    /* Styling af knap */
    .kunstner-knap a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 200px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .kunstner-knap a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }

    .kunstner-knap{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2;
        grid-row: 2 ;
    }

    /* Styling af Radar værdier afsnit */

    .vaerdier-afsnit{
        background-image: url(/images/forside-img2.jpg);
        background-size: cover;
        background-position: center;
        height: 280px;
        background-repeat: no-repeat;
        border-bottom: 1.2px solid;
        
    }

    .vaerdier-afsnit h2{
        color: white;
        font-weight: bold;
        padding-top: 5rem;
        padding-left: 1.5rem;
    }

    .vaerdier-tekst{
        background-color: white;
        background-position: center;
        padding: 1rem 2rem 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vaerdier-artikel, .vaerdier-artikel2{
        width: 70%;
        padding-top: 1rem;
        padding: 0 2rem 2rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   

    .vaerdier-artikel p{
        padding-bottom: 1rem;
    }


    /* Styling af footer */
    
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        padding-top: 1rem;
        color: var(--secondarycolor);
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
    }

    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev og kontakt oplysninger */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }




        
}




@media screen and (min-width: 500px) and (max-width: 768px){
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }


    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }
    
    
    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }

    /* Styling af navigationsbar/burgermenu */
    .logo-img{
        width: 25%;
    }
    
    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    header {
        margin: 0 auto;
        position: fixed;
        background: white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        height: 22%;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:var(--primarycolor);
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }

    header .navbar ul li {
        width: 110%;
        position: relative;
    }

    header .navbar ul li a{
        color: var(--secondarycolor);
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
        display: block;
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: block;
}
    

    /* Gør burgermenuen synlig når label/checkboxen er checked */
    #menu-bar:checked ~ .navbar {
        display: block;
    }

    #menu-bar{
        display: none;
    }

    /* Styling af søgeknap */
    .search-knap{
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 5%;
        max-width:1rem;
    }
    
    /* Input er selve søgefeltet hvor man skriver det man søger på */
    .input {
        display: none;
        width: 8rem;
        height: 40px;
        padding: 1rem; 
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--primarycolor);
        color:black;
        transition: .3s ease;
        position: absolute;
        right: 100%;
        font-family: var(--font-primary);
        font-weight: bold;

    }
       
    /* Søge iconet */
    .icon {
        position: absolute;
        left: 0rem;
        fill: #9e9ea7;
        width: 2rem;
        height: 2rem;
    }

    .search-toggle{
        display: none;
    }
    
    .search-icon-label{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        line-height: 28px;
        max-width: 1rem;
    }

    .input::placeholder {
        color: black;
       }
       
    /* Hover effekt til søgefelt */
    .input:focus, input:hover {
        
        border-color: black;
        background-color:white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    /* Gør input søgefeltet vises når label er checked eller ikonen klikkes på */
    .search-toggle:checked ~ .input{
        display: block;
    }


    main{
        padding-top: 6.2rem;
        line-height: 1.2;
        background-color: var(--primarycolor);
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: xx-large;
        
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }
    

      /* Styling af Introafsnit */
      .intro-afsnit{
        background-image: url(/images/forside-img.jpg);
        background-size: cover;
        background-position: center;
        height: 260px;
        background-repeat: no-repeat;
        padding-top: 2rem;
        padding-left: 2rem;
    }    

    .intro-tekst p{
        padding-top: 2rem;
        color: white;
        width: 70%;
        border: black;
    }

    /* Styling af koncert afsnit */
    .koncert-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        align-items: center;
        overflow: hidden;
        padding: 2.5rem 2rem 0 2rem;
      }
      
      /* Styling af artikel */
      .koncert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondarycolor);
        width: 90%;
        padding-left: 2rem;
      }
      
      .koncert-info h2 {
        color: var(--secondarycolor);
        font-size: 1.4rem;
        text-align: center;
 
      }
      
      .koncert-info p {
        padding-top: 1rem;
      }
      
      /* styling af knap til alle koncerter */
      .koncert-button {
        padding-top: 1.5rem;
        text-align: center;
      }
      
      .koncert-button a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
      }
      
      .koncert-button a:hover {
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
      }
      
      /* styling af billede til afsnittet */
      .koncert-image {
        width: 100%;
        text-align: center;
      }
      
      .figure-container{
        text-align: center;
        display: flex;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
        padding-top: 1rem;
      }

      
      .koncert-image img {
        width: 75%;
        height: auto;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
      }
      
      .koncert-heading {
        color: var(--secondarycolor);
        font-size: 1rem;
        text-align: center;

      }

      .koncert-image a{
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
      }

      .figure-container,.koncert-heading:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
      }

      .koncert-image img:hover{
        transform: scale(1.05);
      }

    /* Styling af kommende koncerter billeder */
    .koncerter-img{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .k1-img, .k2-img, .k3-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }


    .k1-img, .k2-img, .k3-img h3{
        color: var(--secondarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
    }

    .k1-overskrift{
        text-align: center;
    }
    
    .koncerter-img img{
        width: 70%;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
    }

    /* hovereffekt til kunstner titler */
    aside h3:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
    }

    .k1-img, .k2-img, .k3-img, a{
        transition: transform 0.3s ease;
        text-decoration: none;
        color: var(--secondarycolor);
    }

    .k1-img, .k2-img, .k3-img, img:hover{
        transform: scale(1.05);
        
    }

    
    /* Styling af kunstner spotlight afsnit */
    .kunstner-spot img{
        height: 50%;
        width: 50%;
        transition: transform 0.3s ease;
    }

    .kunstner-img-container{
        grid-column: 1;
        grid-row: 3;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .kunstner-img-container h3{
        font-family:var(--font-primary) ;
        color: var(--secondarycolor);
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.5rem;
    }


    .kunstner-spot{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 12rem 3rem 17rem;
        align-items: start;
        padding: 2rem;
        margin-bottom: 4rem;
    }

    .kunstner-spot-tekst{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--secondarycolor);
        padding: 1rem 0 1rem 1rem;
        width: 100%;
    }

    .kunstner-spot h2{
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--secondarycolor);
        padding-bottom: 1rem;
    }

   


    /* Styling af knap */
    .kunstner-knap a{
        grid-row: 2;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 60%;
        text-align: center;
        transition: all 0.3s ease;
    }

    .kunstner-knap a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }

    .kunstner-knap{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    /* Styling af Radar værdier afsnit */

    .vaerdier-afsnit{
        background-image: url(/images/forside-img2.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
        background-repeat: no-repeat;
        border-bottom: 1.2px solid;
        margin-top: 3rem;
        
    }

    .vaerdier-afsnit h2{
        color: white;
        font-weight: bold;
        padding-top: 5rem;
        padding-left: 1.5rem;
    }

    .vaerdier-tekst{
        background-color: whitesmoke;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .vaerdier-artikel, .vaerdier-artikel2{
        width: 80%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }


    /* Styling af footer */
    
    footer{
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        padding-top: 1rem;
        color: var(--secondarycolor);
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
    }

    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    .kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }


}



    
@media screen and (min-width: 360px) and (max-width: 500px){

    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }


    @font-face {
        font-family: "utile", sans-serif;
        font-weight: 200;
        font-style: normal;
        src: url(https://use.typekit.net/xik4fpi.css);
    }
    
    
    :root{
        --primarycolor:#24547C;
        --secondarycolor:#6FFF39;
        --tetriarycolor:#F8E16C;
        --font-primary:"utile", sans-serif;
    }


    /* Styling af navigationsbar/burgermenu */
    .logo-img{
        width: 35%;
    }
    
    .forside-logo a{
        display: flex;
        justify-content: center;
        padding-left: 1.1rem;
    }

    header {
        margin: 0 auto;
        position: fixed;
        background: white;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 1rem 5% 1rem 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        font-family: var(--font-primary);
        font-weight: bold;
        border-bottom: 1.2px solid;
        height: 20%;
    }
    
    header label {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background:var(--primarycolor);
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        padding: 0.5rem 0 0.5rem 2rem;
    }

    header .navbar ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 165px;
    }

    header .navbar li{
        position: absolute;
    }

    header .navbar ul li {
        width: 110%;
        position: relative;
    }

    header .navbar ul li a{
        color: var(--secondarycolor);
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
        display: block;
    }

    header .navbar ul li ul {
        position: absolute;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left:0;
    }

    header .navbar ul li:focus-within > ul,
    header .navbar ul li:hover > ul {
    display: block;
}
    

    /* Gør burgermenuen synlig når label/checkboxen er checked */
    #menu-bar:checked ~ .navbar {
        display: block;
    }

    #menu-bar{
        display: none;
    }

    /* Styling af søgeknap */
    .search-knap{
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 5%;
        max-width:1rem;
    }
    
    /* Input er selve søgefeltet hvor man skriver det man søger på */
    .input {
        display: none;
        width: 8rem;
        height: 40px;
        padding: 1rem; 
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: var(--primarycolor);
        color:black;
        transition: .3s ease;
        position: absolute;
        right: 100%;
        font-family: var(--font-primary);
        font-weight: bold;

    }
       
    /* Søge iconet */
    .icon {
        position: absolute;
        left: 0rem;
        fill: #9e9ea7;
        width: 2rem;
        height: 2rem;
    }

    .search-toggle{
        display: none;
    }
    
    .search-icon-label{
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        line-height: 28px;
        max-width: 1rem;
    }

    .input::placeholder {
        color: black;
       }
       
    /* Hover effekt til søgefelt */
    .input:focus, input:hover {
        
        border-color: black;
        background-color:white;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    /* Gør input søgefeltet vises når label er checked eller ikonen klikkes på */
    .search-toggle:checked ~ .input{
        display: block;
    }


    main{
        padding-top: 5rem;
        line-height: 1.2;
        background-color: var(--primarycolor);
    }

    h1{
        color: white;
        font-family:var(--font-primary);
        font-weight: bold;
        font-size: xx-large;
        
    }

    h2{
        font-family: var(--font-primary);
        font-weight: bold;
    }

    p{
        font-family: var(--font-primary);
        font-weight: lighter;
    }
    

      /* Styling af Introafsnit */
      .intro-afsnit{
        background-image: url(/images/forside-img.jpg);
        background-size: cover;
        background-position: center;
        height: 260px;
        background-repeat: no-repeat;
        padding-top: 2rem;
        padding-left: 2rem;
    }    

    .intro-tekst p{
        padding-top: 1rem;
        color: white;
        width: 70%;
        border: black;
    }

    /* Styling af koncert afsnit */
    .koncert-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        align-items: center;
        overflow: hidden;
        padding: 2.5rem 2rem 0rem 2rem;
      }
      
      /* Styling af artikel */
      .koncert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondarycolor);
        width: 90%;
        padding-left: 2rem;
      }
      
      .koncert-info h2 {
        color: var(--secondarycolor);
        font-size: 1.4rem;
        text-align: center;
 
      }
      
      .koncert-info p {
        padding-top: 1rem;
      }
      
      /* styling af knap til alle koncerter */
      .koncert-button {
        padding-top: 1.5rem;
      }
      
      .koncert-button a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
      }
      
      .koncert-button a:hover {
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);
      }
      
      /* styling af billede til afsnittet */
      .koncert-image {
        width: 100%;
      }
      
      .figure-container{
        text-align: center;
        display: flex;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
        padding-top: 1rem;
      }

      
      .koncert-image img {
        width: 75%;
        height: auto;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
      }
      
      .koncert-heading {
        color: var(--secondarycolor);
        font-size: 1rem;
        text-align: center;

      }

      .koncert-image a{
        text-decoration: none;
        font-family: var(--font-primary);
        font-weight: bold;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
      }

      .figure-container,.koncert-heading:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
      }

      .koncert-image img:hover{
        transform: scale(1.05);
      }

    /* Styling af kommende koncerter billeder */
    .koncerter-img{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .k1-img, .k2-img, .k3-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }


    .k1-img, .k2-img, .k3-img h3{
        color: var(--secondarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
        transition: all 0.3s ease;
        -webkit-text-stroke: 0;
    }

    .k1-overskrift{
        text-align: center;
    }
    
    .koncerter-img img{
        width: 70%;
        padding-bottom: 0.5rem;
        transition: transform 0.3s ease;
    }

    /* hovereffekt til kunstner titler */
    aside h3:hover{
        color: var(--secondarycolor);
        -webkit-text-stroke:0.8px var(--secondarycolor) ;
        -webkit-text-fill-color: var(--primarycolor);
        cursor: pointer;
    }

    .k1-img, .k2-img, .k3-img, a{
        transition: transform 0.3s ease;
        text-decoration: none;
        color: var(--secondarycolor);
        font-size: 1rem;
    }

    .k1-img, .k2-img, .k3-img, img:hover{
        transform: scale(1.05);
        
    }

    
    /* Styling af kunstner spotlight afsnit */
    .kunstner-spot img{
        max-width: 75%;
        max-height: 75%;
       transition: transform 0.3s ease;
    }

    .kunstner-img-container{
        grid-column: 1;
        grid-row: 3;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }

    .kunstner-img-container h3{
        font-family:var(--font-primary) ;
        color: var(--secondarycolor);
        font-weight: bold;
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.5rem;
    }


    .kunstner-spot{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 15rem 3rem 17rem;
        align-items: start;
        padding: 2rem;
        margin-bottom: 1.7rem;
    }

    .kunstner-spot-tekst{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--secondarycolor);
        padding: 1rem 0 1rem 1rem;
        width: 100%;
    }

    .kunstner-spot h2{
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--secondarycolor);
        padding-bottom: 1rem;
    }

   


    /* Styling af knap */
    .kunstner-knap a{
        grid-row: 2;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 60%;
        text-align: center;
        transition: all 0.3s ease;
    }

    .kunstner-knap a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }

    .kunstner-knap{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    /* Styling af Radar værdier afsnit */

    .vaerdier-afsnit{
        background-image: url(/images/forside-img2.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
        background-repeat: no-repeat;
        border-bottom: 1.2px solid;
        
    }

    .vaerdier-afsnit h2{
        color: white;
        font-weight: bold;
        padding-top: 5rem;
        padding-left: 1.5rem;
    }

    .vaerdier-tekst{
        background-color: whitesmoke;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .vaerdier-artikel, .vaerdier-artikel2{
        width: 80%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
    }


    /* Styling af footer */
    
    footer{
        background-color:var(--primarycolor);
        font-family: var(--font-primary);
        font-weight: bold;
        padding-top: 1rem;
        color: var(--secondarycolor);
    }
    
    /* Styling af ikoner */
    .some-ikoner svg{
        width: 80%;
    }

    .some-ikoner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Styling af oplysninger i footeren */
    .footer-oplysninger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .oplysninger{
        list-style: none;
        text-align: center;
    }

    .oplysninger li{
        padding: 0.2rem;
    }

    /* Styling af nyhedsbrev */
    .nyhedsbrev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }

    .nyhedsbrev p{
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    .nyhed-knap{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: var(--font-primary);
        font-weight: bold;
        background-color: var(--tetriarycolor);
        padding: 0.5rem;
        border-radius: 5px;
        border: 2px solid;
        border-color: var(--primarycolor);
        width: 170px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .nyhedsbrev a:hover{
        background-color: var(--primarycolor);
        color: var(--tetriarycolor);
        border-color: var(--tetriarycolor);

    }



    /* Styling af kontaktoplysninger */
    .kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .kontakt-tekst {
        list-style: none;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .kontakt-tekst li{
        padding: 0.2rem;
    }


}




